{% extends "auctions/layout.html" %}
{% block title %}Closed Auctions{% endblock %}
{% block body %}
  <div class="container">
    <h2 class="my-4">Closed Listings</h2>
    {% for auction in auctions %}
      <div class="row">
        <div class="col-md-7" style="display:flex; justify-content: center; align-items:center; width:665px; height:272px;">
          {% if auction.image %}
            <a href="{% url 'listing_page' auction.id %}"><img src="{{ auction.image.url }}" alt="Please Refresh" class="img-fluid rounded mb-3 mb-md-0" id="img"></a>
          {% else %}
            <div><a href="{% url 'listing_page' auction.id %}"><img src="media/product_image/noimg.png" alt="Please Refresh" class="img-fluid rounded mb-3 mb-md-0" id="img"></a></div>
          {% endif %}
        </div>
        <div class="col-md-5">
          <div class="w-index">
            <a href="{% url 'listing_page' auction.id %}" style="color:black;"><h4>{{ auction.title }}</h4></a>
            <div class="w-index">
              {% if request.user.is_authenticated %}
                <form action="{% url 'watchlists' auction.id %}" method="post">
                  {% csrf_token %}
                  {% if auction in request.user.watchlist.all %}
                    <input class="btn btn-success btn-sm" type="submit" value="Remove from Watchlist">
                  {% else %}
                    <input class="btn btn-primary btn-sm" type="submit" value="Add to Watchlist">
                  {% endif %}
                </form>
              {% endif %}
            </div>
          </div>
          <div style="margin-bottom:5px;"><strong>Author: </strong>{{ auction.user }}</div>
          <p style="width: 250px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">{{ auction.description }}</p>
          {% if auction.current_price == null %}
            <h5>Start Price: {{ auction.start_price }}</h5>
          {% else %}
            <h5>current price: {{ auction.current_price }}</h5>
          {% endif %}
          {% load humanize %}
          <p style="margin-bottom: 5px;"><strong>Category : </strong><a href="{% url 'auction_by_category' auction.category %}" style="color:black">{{ auction.category }}</a></p>
          <p style="color: grey;">Publish Time : {{ auction.created_at|naturaltime }}</p>
          <a href="{% url 'listing_page' auction.id %}"><button class="details_btn" type="button">More Details</button></a>
        </div>
      </div>
      <hr>
    {% empty %}
      <div style="display:flex; justify-content:center; align-items:center;">
        <div class="alert alert-info" role="alert" style="text-align:center;"><strong>There is No Closed Auctions</strong>.</div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
